@page
@model NationalDrivingLicense.Pages.DriverLicenseCredentialsModel
@{
}

<h3>@Model.DriverLicenseMessage</h3>
<br />

@if (Model.HasDriverLicense)
{
    <img alt="QR Code" src="@($"https://chart.googleapis.com/chart?cht=qr&chl={Model.CredentialOfferUrl}&chs=300x300&chld=L%7C1")" />
}
