@page
@model NationalDrivingLicense.Pages.DriverLicenseCredentialsModel
@{
}

<h3>@Model.DriverLicenseMessage</h3>
<br />
<br />

@if (Model.HasDriverLicense)
{
    <div id="qrCode"></div>
}

@section scripts {
    <script src="~/js/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.CredentialOfferUrl)",
                width: 300,
                height: 300
            });

    $(document).ready(() => {
        document.getElementById('begin_token_check').click();
    });

    </script>
}