@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/ndl_insurance_01.png" />
        </div>
        <div class="col-sm-8">
            <div class="text-center">
                <br />
                <h4>Premium Discount Car Insurance</h4>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium Discount Car Insurance Package</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>30% off</li>
                <li>No fee for monthly payment</li>
                <li>And more</li>
            </ul>
            <button id="btnFree" type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please verify your drivers license</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Scan the following QR Code with your Wallet app.</p>
                <div id="spinner" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="qr" style="display: none" id="qrCode"></div>
                <img id="success" width="300" style="display: none;" src="~/check-mark-icon-vector.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            $('#btnFree').click(function () {
                $('#spinner').show();
                $('#qrCode').hide();
                $('#success').hide();

                $('#myModal').modal('toggle')
            });

            $('#myModal').on('shown.bs.modal', function () {
                $.ajax({
                    url: '@(Url.ActionLink("CreateVerification", "Verification"))',
                    success: function (data) {
                        if (data.verificationUrl.length > 0) {
                            new QRCode(document.getElementById("qrCode"),
                                {
                                    text: data.verificationUrl,
                                    width: 300,
                                    height: 300
                                });

                            $('#spinner').hide();
                            $('#qrCode').show();

                            // Start polling so that we know when we can move on
                            var intervalId = setInterval(function () {
                                console.log('Checking verification status');
                                $.ajax({
                                    url: '@(Url.ActionLink("CheckStatus", "Verification"))' + '?verificationId=' + data.verificationId,
                                    success: function (data) {
                                        console.log(JSON.stringify(data));
                                        if (data.state === "accepted") {
                                            clearInterval(intervalId);
                                            console.log('Thank you for your verification!');
                                            $('#qrCode').hide();
                                            $('#success').show();
                                        }
                                    }
                                });
                            }, 2000);
                        } else {
                            console.error('Oops, we did not get a verification url!');
                        }
                    }
                });
            });
        });
    </script>
    <script src="~/js/qrcode.min.js"></script>
} 